:root {
  /* color */
  --biru: #343353;
  --kuning: #f9cb5b;
  --merah: #ff4c61;
  --biruMuda: #3045fd;
  --hijauToska: #30ccfd;
  --hijau: #30fd5d;
  --oren: #fd9f30;
  --kuningTerang: #fdf530;
  --merahTerang: #fd3030;
}

/* font */
.about h2,
.services h2,
.experience h2,
.project h2,
.contact h2 {
  font-family: "Lato", sans-serif;
}

.about p,
.services p,
.experience p,
.project p,
.contact p {
  font-family: "Open Sans", sans-serif;
}

.nav-link,
.jumbotron p {
  font-family: "Roboto", sans-serif;
}

/* button */
/* hire */
.hire {
  margin-top: 15px;
  background-color: var(--merah);
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  width: 140px;
  height: 50px;
  padding-top: 10px;
}

.hire:hover {
  background-color: var(--merah);
  color: white;
}

/* cv */
.cv {
  margin-top: 15px;
  background-color: var(--merah);
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  width: 180px;
  height: 50px;
  padding-top: 10px;
}

.cv:hover {
  background-color: var(--merah);
  color: white;
}

/* send */
.send {
  margin-top: 15px;
  background-color: var(--merah);
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  width: 180px;
  height: 50px;
  padding-top: 10px;
}

.send:hover {
  background-color: var(--merah);
  color: white;
}

/* navbar */
.navbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: var(--biru);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.navbar-brand span {
  color: var(--kuning);
}

.navbar .navbar-toggler {
  background-color: var(--biru);
  color: var(--biru);
  border: none;
}

.navbar-toggler-icon {
  background-color: var(--biru);
}

.navbar .aktif {
  color: var(--kuning);
  font-weight: 700;
}
.navbar .aktif:hover {
  color: var(--kuning);
  font-weight: 700;
}

.nav-link {
  text-align: center;
  margin-right: 15px;
  color: white;
  font-size: 17px;
  background-color: var(--biru);
}

.nav-link:hover {
  color: white;
}

/* jumbotron */
.jumbotron {
  padding-top: 7rem;
  background-color: var(--biru);
  height: 1000px;
  margin-top: -250px;
}

.jumbotron img {
  margin-top: 280px;
  border: 2px solid white;
}

.jumbotron h1 {
  padding-top: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.jumbotron p {
  color: #d6d6d6;
  font-size: 18px;
  font-weight: 500;
}

.jumbotron .icon a {
  text-decoration: none;
}

.jumbotron .icon i {
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 10px;
}

/* about */
.about {
  margin-top: 200px;
  padding-top: 80px;
}

.about .content {
  margin-top: 20px;
  padding: 15px 15px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #9b9b9b;
  height: 810px;
}

.content .kiri {
  text-align: center;
}

.content .kanan {
  display: block;
  margin-top: 50px;
}

.kanan .html,
.css,
.javascript,
.bootstrap,
.mysql,
.git,
.figma {
  display: flex;
  justify-content: space-between;
}

.html-2 {
  background-color: var(--biru);
}

.css-2 {
  background-color: var(--biruMuda);
}

.js-2 {
  background-color: var(--hijauToska);
}

.bootstrap-2 {
  background-color: var(--hijau);
}

.mysql-2 {
  background-color: var(--kuningTerang);
}

.git-2 {
  background-color: var(--oren);
}

.figma-2 {
  background-color: var(--merahTerang);
}

/* services */
.services {
  margin-top: 200px;
  padding-top: 80px;
}

.services .skills {
  margin-top: 20px;
}

.services .photo,
.ui,
.development {
  border-radius: 30px;
  margin-bottom: 50px;
  height: 300px;
  width: 350px;
  box-shadow: 2px 2px 5px #9b9b9b;
}

.services .photo {
  background-color: var(--biru);
}

.services .ui {
  background-color: var(--kuning);
}

.services .development {
  background-color: var(--merah);
}

.services img {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 90px;
  width: 90px;
}

.services h5 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 600;
}

.services p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

/* experience */
.experience {
  margin-top: 200px;
  padding-top: 80px;
}

.experience .card {
  box-shadow: 2px 2px 5px #9b9b9b;
}

.experience .card-header {
  font-size: 17px;
}

.experience .card-title {
  font-size: 20px;
  font-weight: 600;
}

.experience .card-text {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(77, 77, 77);
}

/* projects */
.projects {
  margin-top: 200px;
  padding-top: 80px;
}

.projects .project {
  transition: 0.3s ease-out;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.projects .project:hover {
  transform: translateY(-0.5rem) scale(1.0125);
}

.projects .card {
  box-shadow: 2px 2px 5px #9b9b9b;
}

.projects .card-text {
  color: var(--biru);
  font-weight: bold;
  font-size: 20px;
}

/* contact */
.contact {
  margin-top: 200px;
  padding-top: 80px;
}

.contact p {
  font-size: 17px;
  font-weight: 400;
}

.contact p span {
  color: var(--merah);
}

.contact img {
  margin-top: -50px;
}

.contact .name,
.email,
.subject {
  height: 50px;
}

.contact .name,
.email,
.subject,
.pesan {
  border-radius: 10px;
  box-shadow: 1px 1px 3px #c4c4c4;
}

.contact .name::placeholder,
.email::placeholder,
.subject::placeholder,
.pesan::placeholder {
  color: #9b9b9b;
}

/* footer */
footer {
  margin-top: 200px;
  height: 70px;
  background-color: var(--biru);
}

footer p {
  font-size: 20px;
  font-weight: 500;
  line-height: 70px;
  color: white;
}

/* desktop */
@media (min-width: 992px) {
  /* hire */
  .hire {
    font-size: 20px;
    width: 160px;
    height: 55px;
  }

  /* cv */
  .cv {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    width: 180px;
    height: 60px;
    padding-top: 15px;
  }

  /* navbar */
  .navbar {
    padding-top: 5px;
    height: 65px;
  }

  .navbar-brand {
    font-size: 35px;
  }

  .nav-link {
    font-size: 17px;
  }

  /* jumbotron */
  .jumbotron {
    height: 900px;
    padding-top: 350px;
  }

  .jumbotron img {
    margin-top: 40px;
  }

  .jumbotron h1 {
    font-size: 2.7rem;
  }

  .jumbotron p {
    font-size: 20px;
    font-weight: 400;
  }

  .jumbotron .icon i {
    font-size: 30px;
    padding-bottom: 10px;
    margin-right: 9px;
  }

  /* about */
  .about {
    padding-top: 80px;
  }

  .about .content {
    display: flex;
    height: 480px;
    padding: 10px 40px;
  }

  .content .kiri {
    text-align: left;
    font-style: normal;
    margin-right: 30px;
    margin-top: 80px;
  }

  .kiri p {
    font-size: 20px;
    padding-bottom: 30px;
  }

  .content .kiri,
  .content .kanan {
    width: 600px;
  }

  .content .kanan {
    margin-top: 0;
  }

  /* services */
  .services {
    padding-top: 150px;
  }

  .services .photo,
  .ui,
  .development {
    width: 350px;
  }

  .services h5 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
  }

  .services p {
    font-size: 18px;
  }

  /* experience */
  .experience {
    padding-top: 170px;
  }

  .experience .card {
    box-shadow: 2px 2px 5px #9b9b9b;
  }

  .experience .card-header {
    font-size: 17px;
  }

  .experience .card-title {
    font-size: 25px;
    font-weight: 600;
  }

  .experience .card-text {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(73, 73, 73);
  }

  /* projects */
  .projects {
    padding-top: 100px;
  }

  .contact {
    padding-top: 110px;
  }

  .contact .name,
  .email,
  .subject,
  .pesan {
    border-radius: 15px;
    box-shadow: 1px 1px 3px #c4c4c4;
  }

  .contact img {
    margin-top: -30px;
  }
}
